.pricing__box {
    background-color: var(--clr-bg);
    padding: 2rem;
    border-radius: 6px;
    margin-top: 1rem;
    box-shadow: var(--shadow-xl);
}

.pricing__box--0margin {
    margin: 0;
}

.pricing__title {
    font-size: var(--size-lg);
}

.pricing__description1 {
    font-family: var(--font-secondary);
    font-size: var(--size-xs);
    color: var(--clr-light);
    margin-bottom: 2.5rem;
}

.pricing__description2 {
    font-family: var(--font-secondary);
    font-size: var(--size-xs);
    color: var(--clr-text);
    margin-bottom: 1rem;
}

.pricing__btn {
    font-size: var(--size-xs);
}